custom-slider img:not(dialog img) {
  --flow-space: 0;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
}

@media (prefers-reduced-motion: no-preference) {
  custom-slider {
    display: block;
    position: relative;
  }

  custom-slider ul {
    --item-width: 40ch;
    display: flex;
    gap: var(--space-m);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  custom-slider ul::-webkit-scrollbar {
    display: none;
  }

  custom-slider ul li {
    flex: 0 0 var(--item-width);
    display: block;
    scroll-snap-align: center;
    scroll-padding: 50vw;
  }

  custom-slider ul li:first-child {
    margin-inline-start: var(--item-width);
  }

  custom-slider ul li:last-child {
    margin-inline-end: var(--item-width);
  }

  custom-slider .slider__button {
    cursor: pointer;
    appearance: none;
    border: none;
    background: var(--color-dark);
    color: var(--color-light);
    inline-size: var(--space-xl);
    block-size: var(--space-xl);
    padding: 0.2rem;
    border-radius: var(--border-radius);
  }

  custom-slider .slider__button:hover {
    background: var(--color-primary);
  }

  custom-slider .slider__button svg {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  custom-slider .slider__button.left {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 2rem;
    margin-block-start: -1.5rem;
  }

  custom-slider .slider__button.right {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 1rem;
    margin-block-start: -1.5rem;
  }

  custom-slider .slider__button.disabled {
    background: var(--color-dark);
    opacity: 0.4;
    cursor: default;
  }

  custom-slider .pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  custom-slider .pagination a {
    display: block;
    text-decoration: none;
    background: transparent;
    inline-size: min(44px, 3rem);
    block-size: min(44px, 3rem);
    position: relative;
    border-radius: 50%;
  }

  custom-slider .pagination a::after {
    position: absolute;
    content: '';
    inset: 25%;
    border: 2px solid currentColor;
    border-radius: 50%;
    background: transparent;
  }

  custom-slider .pagination a[aria-current='page']::after {
    background: currentColor;
  }
}

@media (prefers-reduced-motion: reduce) {
  custom-slider {
    display: block;
    inline-size: min(100% - 3rem, var(--container-max, 1000px));
    margin-inline: auto;
  }

  custom-slider .slider__button {
    display: none;
  }

  custom-slider .pagination {
    display: none;
  }

  custom-slider ul {
    --min: 25ch;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }

  custom-slider ul li {
    display: block;
  }
}
