.button {
  color: var(--button-text, var(--color-text));
  background-color: var(--button-bg, var(--color-bg));
  border: 2px solid var(--button-border, var(--color-text));
  border-radius: var(--border-radius);
  display: inline-block;
  font: inherit;
  padding: 0.3rem var(--space-s);
  font-weight: var(--font-bold);
  text-decoration: none;
  text-align: center;
}

.button:hover,
.button[aria-current='page'],
.button[aria-pressed='true'],
.button[data-state='active'] {
  background-size: 150% 150%;
  --button-bg: var(--color-text);
  --button-text: var(--color-bg);
  --button-border: var(--color-text);
}

.button:focus {
  outline-color: var(--button-outline, var(--color-text));
}

.button:active {
  transform: scale(99%);
}
