.gallery dialog {
  border-radius: var(--border-radius);
  inset: revert;
  display: flex;
  flex-direction: column;
}

.gallery dialog + button {
  all: unset;
  cursor: pointer;
}

.gallery dialog + button:focus-visible {
  outline: 3px solid;
  outline-offset: -0.5ch;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) .gallery dialog + button {
  cursor: default;
}

.gallery dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.9;
  filter: brightness(50%);
}

.gallery dialog img {
  max-block-size: 70vh;
}
