/* .gallery dialog {
  border-radius: var(--border-radius);
  inset: revert;
  display: flex;
  flex-direction: column;
  align-items: end;
} */

.gallery dialog {
  background: transparent;
  border: none;
}

.gallery dialog + button {
  all: unset;
  cursor: pointer;
}

.gallery dialog + button:focus-visible {
  outline: 3px solid;
  outline-offset: -0.5ch;
}

.gallery dialog + button:hover {
  opacity: 0.9;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) .gallery dialog + button {
  cursor: default;
}

.gallery dialog::backdrop {
  background-image: var(--gradient-water);
  opacity: 0.9;
  filter: brightness(40%);
}

.gallery dialog img {
  aspect-ratio: auto;
  max-block-size: 70vh;
  inline-size: auto;
}

.gallery img:not(dialog img) {
  --flow-space: 0;
  /* inherited from .post img:not(dialog img) */
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  /* enable also portrait mode */
   /* aspect-ratio: 16/9; */
  object-fit: cover;
  object-position: center;
}

.gallery[img-square] img:not(dialog img) {
  aspect-ratio: 1;
}

.gallery dialog figcaption {
  color: var(--color-light);
}
