---
layout: base
title: News
description: 'In queste pagine tutte le news del Centro Subacqueo Mediterraneo "Duilio Marcante", le nostre attività e alcune curiosità.'
pagination:
  data: collections.allPosts
  size: 6
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<article class="wrapper">

  <h1 class="gradient-text-linear mt-2xl text-center">{{ title }}</h1>

  <div class="region flow prose">

		<custom-masonry layout="50-50">
			{% asyncEach item in pagination.items %}
				{% set definedDate = item.date %}

				{% include "partials/card-blog.njk" %}
			{% endeach %}
		</custom-masonry>

		<!-- set collection to paginate -->
		{% set collectionToPaginate = collections.posts %}
		<!-- set target pagination settings in meta.js -->
		{% set metaKey = "blog" %}
		<!-- if the number of items in the collection is greater than the number of items shown on one page -->
		{% if collectionToPaginate.length > pagination.size %}
			<!-- include pagination -->
			{% include 'partials/pagination.njk' %}
		{% endif %}

  </div>

</article>
